<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <base href="/" />
  <title>账号系统</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
  <link rel="stylesheet" type="text/css" class="ui" href="/assets/vendor/semantic-2.4.1/semantic.min.css"">
  <script type=" text/javascript" src="/assets/vendor/jquery-3.6.0/jquery.min.js">
  </script>
  <script type="text/javascript" src="/assets/vendor/semantic-2.4.1/semantic.min.js"></script>
</head>

<body>
  <div class="ui inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        <img class="logo" src="/assets/img/logo.png">
        &nbsp;&nbsp;账号系统 </a>
      <a href="index" class="item">首页</a>
      <div class="ui simple dropdown item">
        功能<i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="peoples">雇员名单</a>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div>
      <div class="right menu">
        <div class="item">
          <a class="ui button" href="login">登录</a>
        </div>
        <div class="item">
          <a class="ui primary button" href="register">注册</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui middle aligned center aligned grid">
  </div>
  </div>

  <script>
    $(document).ready(function () {
      $('.message .close').on('click', function () { $(this).parent().hide(); });
    });
  </script>
</body>

</html>